In [5]:
import numpy as np
import pandas as pd

In [6]:
toy_df = pd.DataFrame({"A":[1,np.NaN,3]})

In [7]:
toy_df

     A
0  1.0
1  NaN
2  3.0

In [9]:
toy_df.isnull().values.any()

True

In [10]:
toy_df.fillna("ffill", inplace=True)

In [11]:
toy_df.isnull().values.any()

False